#!/bin/bash
#/ this a simple code for identifying the categorization of unix files and linux files 
echo    Blue: Directory
echo   Green: Executable or recognized data file
echo   Sky Blue: Linked file
echo   Yellow with black background: Device
echo    Pink: Graphic image file
echo    Red: Archive file
echo    Orange with black background: Broken link
